.nav {
    max-width: var(--container-width-ms);
    margin: auto;
}

.nav__links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 30px 0px;
}

.nav__link {
    background: #a2f1d3;
    color: #000;
    padding: 6px 22px;
    border-radius: 6px;
}

.nav__link:hover {
    background: #54BD95;
}

.active {
    font-weight: bold;
    background: #54BD95;
    color: white;
}