/* ===================== GENERAL SETTINGS ===================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /*Hace que el border y el padding pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/
    text-decoration: none; /*Quita los subrayados de una etiqueta <a></a>*/
    list-style: none; /*Quita la numeración o los guiones o puntes que salen en una etiqueta <li></li>*/
  }

  :root {
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
  }